.position-adjuster{
position:absolute;
}
.bet-container{
    box-sizing:border-box;
    font-family:"Roboto Condensed";
    width:250px;
   height:auto;
    z-index:150;
    background-color:#1F2937;
    border:1px solid white;
    border-radius:10px;
    padding:10px;
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
    .error{
        color:rgb(204, 188, 188);
        padding:5px;
    }
    .cancel-icon{
        position:absolute;
        right:0;
        top:0;
        font-size:1.5rem;
        color:rgb(255, 0, 0);
    }
    .bet-type-container{
        padding-inline:10px;
        line-height: 1.75rem;
        color:white;
        .bet-numbers{
            display:flex
        }
        .betType{
            text-transform: capitalize;
        }
        span{
            font-weight:500;
        }
    }
    .bet-button{
        font-family:"Poppins";
        padding-inline:5px;
        width:2.5rem;
        margin-left:5px;
        font-size:1rem;
        background-color:#FBBE24;
        color:black;
        font-weight: 500;
        border:1px solid #FBBE24;
        border-radius:5px;

    }
   .input-error{
    border:2px solid red;

   }
    input {
        box-sizing: border-box;
        width:75%;
        margin-block:10px;
        padding:10px 10px;
        border-radius:8px;
        
        &:focus{
            margin-block:10px;
        padding:10px 10px;
            outline:none;


        }
    }
    li{
        list-style:none;
        margin-inline:4px;
        &::after{
            content:","
        }
        
        &:last-of-type::after{
        display:none;
        }
        &:first-child::after{
            display:none;
        }
    }
}