@import "../variables.scss";
.center-box-container{
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
    width:$box_width;
    height:$box_height;

    .top-border{
        position:absolute;
        width:$box_width;
        top:0;
        left:0;
        height:$border_width;
        background-color: $border_background;
        cursor:grab;
    }
    .bottom-border{
        position:absolute;
        width:$box_width;
        bottom:0;
        height:$border_width;
        background-color:$border_background;
        cursor:grab;
    }
    .left-border{
        position:absolute;
        height:$box_height;
        width:$border_width;
        left:0;
        background-color:$border_background;
        cursor:grab;
    }
   .b-l-corner{
    width:$corner_diameter;
    height: $corner_diameter;
    border-radius:50%;
    background-color:$corner_background;
    position:absolute;
    top:98%;
    left:0;
    z-index:100;
    transform: $translate;
    cursor:pointer;

   }
 
   .t-l-corner{
    width:$corner_diameter;
    height: $corner_diameter;
    border-radius:50%;
    background-color:$corner_background;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    cursor:pointer;
    transform:translate(-20%,-30%)
   }
   .content{
        width:60px;
        height:50px;
        display:flex;
        justify-content: center;
        align-items: center;
        background: inherit;
    
       

       .btn{
        background:inherit;
        cursor:pointer;
        font-weight: 600;

        border:none;
        color:white;

       }
   }
   .black{
    background-color:black;
    border:1px solid black;
}
.red{
    background-color:#7F1D1D;
    border:1px solid #7F1D1D
}
}