$box_width:60px;
$box_height:60px;
$border_width:4px;
$font-size:1rem;
$corner_diameter:8px;
$border_background:white;
$box_background:black;
$corner_background:white;
$translate:translate(-20%,-50%);
$content_height:25px;
$content_width:50px
