.App{
    background:#04003B;
    font-family: "Raleway";
    padding:20px;
   .border{
    .app-table{
        background-color: #1F2937;
        border-radius:50px;
        display:grid;
        position:relative;
        grid-template-columns: fit-content(10%);
        grid-template-rows: fit-content(10%);
        border:1px solid #B97241;
        padding:20px;
        // border-radius:60px;
        // border-style:solid;
        // border-width: 20px;
        // border-image-source: url("./download\ \(2\).jpg");
        // border-image-slice:20;
        // border-radius:30px;
   
        .roulette-wheel-container{
            grid-row:1/5;
            grid-column:4/9;
            position:relative;
    
        
        }
        .bet-table-container{
            grid-row:4/9;
            grid-column:1/4;
            
        }
        .data-display{
            display:grid;
            grid-template-columns: 400px 450px;
            grid-row:1/5;
            grid-column:1/5;
            .button{
                    width:80px;
                    padding:8px 10px;
                    background-color:inherit;
                    font-size:1rem;
                    color:white;
                    border:2px white solid;
                    border-radius:10px;
                &:hover{
                    background-color:#FBBE24;
                    color:black;

                    font-weight: 600;
                }
            }
        }
        .bet-buttons{
            grid-row:6/8;
            grid-column:4/8;
            margin-left:10px;
        }
    }
   
}
}